extends layout

block content
	.container-fluid
		.row
			.jumbotron
				h1.text-center Kweak
				h2.text-center Real-Time Marketing Intelligence
		.row
			.jumbotron
				h3 Live Link Tracking:
				.input-group
					input.form-control(type='text', placeholder='Paste a link to track it live')
					span.input-group-btn
						button.btn.btn-primary(type='button') Live Track Link!
		.row
			.jumbotron
				h3 Live Website Analytics
				a.btn.btn-primary(href='/client') Download Kweak Client
				