.jumbotron
	h2 Links Overview
	ul.links-overview
		li(ng-repeat='link in userLinkData', ng-class="link.isActive ? 'active' : 'inactive'", data-created='{{link.created}}') 
			span.glyphicon.glyphicon-triangle-right.clickable(ng-click='getHitDetails(link.hits)', ng-show='link.hits.length && !link.hitDetails')
			span.glyphicon.glyphicon-triangle-bottom(ng-show='link.hitDetails')
			| &nbsp;{{link.url}} ({{link.hits.length}} {{link.hits.length == 1 ? 'hit' : 'hits'}}) -&nbsp;
			a(ng-href='/key/{{link.hashId}}') /key/{{link.hashId}}
			table.hits(ng-show='link.hitDetails')
				tr
					//th Browser
					th 
					//th IP
					th Location
					th Language
					th Referer
					th Created
				tr(ng-repeat='hit in link.hitDetails')
					//td {{hit.userAgent}}
					th(popover="{{hit.sig3d}}", popover-title='{{hit.ip}}', popover-trigger='mouseenter')
						img(ng-src='http://robohash.org/{{hit.sig3d}}?size=20x20&bgset=bg2')
					//td {{hit.ip}}
					td {{hit.ip | ipLocation:ipUpdates}}
					td {{hit.headers['accept-language'] | headerLanguages}}
					td {{hit.headers['referer']}}
					td(am-time-ago='hit.created', popover='{{hit.created}}', popover-trigger='mouseenter')