.container-fluid.error-notice
	.row
		.modal-header
			h2 An Error Occured
		.modal-body
			p Check the application logs for additional details
			button.btn.btn-warning.pull-right(ng-click='cancel()') Cancel
			.clearfix